html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin: 4em 0 0 0;
}

#menu{ 
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
}

#menu ul{
    text-align: center;
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
}

#search img{
    vertical-align: middle;
    margin: 1em;    
}

#menu li:first-child + li{
    flex-grow: 4;
}

#menu li{
    padding: 0em 1em;
}

#menu h5{
    margin:0;
    padding:1em;
}

.footer{
    flex-shrink: 0;
    text-align: center;
    margin: 1em 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer h3, h5{
    margin:0.5em;
    padding: 0em 1em;
}

#property{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#profile, #login, #property{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 1em 0em;
}

.verticalForm{
    margin: 1em 0 0 0;
    text-align: left;
    width:40%
}

.verticalForm input, .verticalForm select{
    display: block;
    height: 1.5em;
    width:100%;
}

.verticalForm textarea{
    display: block;
    width:100%;
}

.verticalForm label{
    display: block;
    padding:1em;
}

.verticalForm .submit{
    width:25%;
    float: right;
    margin: 1em;
    padding:1em;
}

#homepage{
    width: 100%;
    height: 100%;
    text-align: center;
    
}

#homepage #search{
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}