html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

.content {
    flex: 1 0 auto;
    margin: 3.7em 0 0 0;
}

#menu{ 
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index:999;
	overflow:visible;
}

#menu ul{
    text-align: center;
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu li:first-child, #menu li:first-child ~ li ~ li{
    flex-basis: 200px;
    text-align: right;
}

#menu li:first-child ~ li ~ li a{
    display: inline-block;
}

#menu li:first-child{
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

#glass{
    vertical-align: middle;
    margin: 1em;    
}

#search_text_input, #dateFrom, #dateTo{
    margin-right: 0em;
}

#menu li{
    padding: 0em 1em;
}

#menu h5{
    margin:0;
    padding:1em;
}

.footer{
    flex-shrink: 0;
    text-align: center;
    margin: 1em 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer h3, h5{
    margin:0.5em;
    padding: 0em 1em;
}

#profile, #login, #editProperty, #addProperty{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 1em 0em;
}

.verticalForm{
    margin: 1em 0 0 0;
    text-align: left;
    width:40%
}

.verticalForm input, .verticalForm select, textarea{
    display: block;
    width:100%;
    padding:0.5em ;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.verticalForm label{
    display: block;
    padding:1em;
}

.verticalForm .submit{
    width:25%;
    float: right;
    margin: 1em;
    padding: 1em;
}

#homepage{
    width: 100%;
    height: 100%;
    text-align: center;
}

#search{
    display: inline-block;
}

#homepage #search{
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#property{
    display:grid;
    grid-template-areas: "header header header"
                        "data data aside";
    text-align: left;
}

#property header{
    grid-area: header;
}

#property aside{
    grid-area: aside;
    padding: 1em;
    display:grid;
    grid-template-areas: "priceNight priceNight"
                        "datesLabel dates"
                        "priceNightsCalc priceNights"
                        "taxLabel tax"
                        "totalLabel total"
                        " submit submit";
    align-items:center; 
    text-align: left;
}

#property aside p:first-child{
    grid-area: priceNight;
}
#property aside h3:first-child{
    grid-area: datesLabel;
}
#property aside h3:first-child ~ p{
    grid-area: dates;
}
#property aside h3:first-child ~ p{
    grid-area: priceNightsCalc;
}
#property aside h3:first-child ~ p ~ p{
    grid-area: priceNights;
}
#property aside h3:first-child ~ p ~ p ~ p{
    grid-area: taxLabel;
}
#property aside h3:first-child ~ p ~ p ~ p ~ p{
    grid-area: tax;
}
#property aside h3:first-child ~ h3{
    grid-area: totalLabel;
}
#property aside h3:first-child ~ h3 ~ h3{
    grid-area: total;
}
#property aside form{
    grid-area: submit;
    text-align: right;
}

#property #property_data{
    grid-area: data;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0%;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a{
    width: 100%;
    margin: 0;
    padding: 0;
}

.dropdown-content p{
    display: block;
    padding: 0.5em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

#property{
    margin:1em;
}

#amenities_table, #agenda{
    display: block;
}

.propertyShort, .reservationShort, .propertySearch{
    width: calc(50% - 1rem);
    display: flex;
    margin: 1rem;
}

.propertyShort img, .reservationShort img, .propertySearch img{
    object-fit: cover;
    width:25%;
}

.rightText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    width: 75%;
}

.rightText h1, h3, h4, p{
    margin: 0;
    padding: 0.3rem 0 0.3rem 0;
}

.horizontalElements{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
}

.horizontalElements a{
    margin-left: 1em;
}

.horizontalElements h3{
    padding: 0;
}

.horizontalElements p{
    padding: 0.5em;
}

.list_properties_options{
    display: flex;
    margin: 1rem;
}

.list_properties_options h5, #filter_button{
    margin: 0 1rem 0 0;
    padding: 1em;
}

.subtitle{
    margin: 1rem;
}

#filter_form {
    margin: 1rem;
    width: 90%;
    height: 100%;
}

.close{
    margin: 0;
    padding: 0;
}