html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.content {
    flex: 1 0 auto;
    margin: 3.7em 0 0 0;
}

#menu {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 999;
    overflow: visible;
}

#menu ul {
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu li:first-child, #menu li:first-child~li~li {
    text-align: right;
}

#menu li:first-child~li~li a {
    display: inline-block;
}

#menu li:first-child {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

#menu h1{
    margin-right: 0;
    padding-right: 0;
}

#glass {
    vertical-align: middle;
    margin: 1em;
}

#search_text_input, #dateFrom, #dateTo {
    margin-right: 1em;
    margin-left: 0.5em;
}

#menu li {
    padding: 0em 1em;
}

#menu h5 {
    margin: 0;
    padding: 1em;
}

.footer {
    flex-shrink: 0;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}

.footer h3,
h5 {
    margin: 0.5em;
    padding: 0em 1em;
}

#profile, #login, #editProperty, #addProperty {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 1em 0em;
}

.verticalForm {
    margin: 1em 0 0 0;
    text-align: left;
    width: 614px;
}

.commentForm {
    width: 100%;
    height: 40em;
}


.verticalForm input, .verticalForm select, textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.verticalForm label {
    display: block;
    padding: 1em;
}

.verticalForm td{
    padding-left: 1em;
}

.verticalForm p{
    margin-left: 1rem;
}

.verticalForm .submit {
    width: 25%;
    float: right;
    margin: 1em;
    padding: 1em;
}

#cancel_button {
    padding: 0;
}

#homepage {
    width: 100%;
    height: 100%;
    text-align: center;
}

#search {
    display: flex;
    align-items: center;
}

#search p {
    margin-left: 2em;
    margin-right: 0.5em;
}

#homepage #search {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#homepage #search_text_input {
    border-radius: 0.2em;
}

.homepageForm {
    width: 17em;
    height: 35%;
    position: absolute;
    top: 15%;
    left:5em;
}

.homepageForm h3{
    align-self: flex-start;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#property aside {
    padding: 1em;
    display: grid;
    grid-template-areas: "priceNight priceNight" "datesLabel dates" "priceNightsCalc priceNights" "taxLabel tax" "totalLabel total" " submit submit" "map map";
    align-items: center;
    text-align: left;
    width: calc(50% - 2em);
    float: right;
}

#property aside p:first-child {
    grid-area: priceNight;
}

#property aside h3:first-child {
    grid-area: datesLabel;
}

#property aside h3:first-child~p {
    grid-area: dates;
}

#property aside h3:first-child~p {
    grid-area: priceNightsCalc;
}

#property aside h3:first-child~p~p {
    grid-area: priceNights;
}

#property aside h3:first-child~p~p~p {
    grid-area: taxLabel;
}

#property aside h3:first-child~p~p~p~p {
    grid-area: tax;
}

#property aside h3:first-child~h3 {
    grid-area: totalLabel;
}

#property aside h3:first-child~h3~h3 {
    grid-area: total;
}

#property aside form {
    grid-area: submit;
    text-align: right;
}

#property aside #mapid {
    grid-area: map;
    margin-top: 10%;
}

#mapid { 
    height: 400px; 
    /* width: calc(50%-1rem); */
    padding: 1rem;
}

/* #property aside h3:first-child~h3~h3~h3 {
    grid-area: location;
}

#property aside h3:first-child~div {
    grid-area: map;
} */

#property #property_data {
  width: calc(50% - 1em);

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0%;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown h5 {
    overflow: hidden;
    white-space: nowrap;
}

.dropdown-content a {
    width: 100%;
    margin: 0;
    padding: 0;
}

.dropdown-content p {
    display: block;
    padding: 0.5em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

#property {
    margin: 1em;
}

#amenities_table, #agenda {
    display: block;
}

.propertyShort, .reservationShort, .propertySearch {
    display: flex;
    margin: 1rem;
}

.propertyShort img, .reservationShort img, .propertySearch img {
    object-fit: cover;
    width: 25%;
}

.rightText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    width: 75%;
}

.rightText h1, h3, h4, p {
    margin: 0;
    padding: 0.3rem 0 0.3rem 0;
}

.horizontalElements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
}

.horizontalElements a, button {
    margin-left: 1em;
}

.horizontalElements h3 {
    padding: 0;
}

.horizontalElements p {
    padding: 0.5em;
}

#rating {
    margin-right: auto;
}

#star, #amenity {
    padding-left: 1rem;
}

.list_properties_options {
    display: flex;
    margin: 1rem;
}

.list_properties_options h5, #filter_button {
    margin: 0 1rem 0 0;
    padding: 1em;
}

.subtitle {
    margin: 1rem;
}

#filter_form {
    margin: 1rem;
    width: 90%;
    height: 100%;
    z-index: 2;
}

.close {
    margin: 0;
    padding: 0;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
}


/* Modal Content/Box */

.modal-content {
    /* justify-content: center;*/
    align-content: center;
    /* position: fixed; */
    margin: 8rem 32.5% auto 32.5%;
    /* 15% from the top and centered */
    /* margin: 15% auto; */
    padding: 1rem;
    border: 1px solid var(--myLightBlue);
    width: 35%;
    z-index: 2;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    float: right;
}

#propertiesSection {
    float: left;
    width: calc(50% - 1em);
}

#map {
    float: right;
    padding: 1em;
    align-items: center;
    height: 100%;
    width: calc(50% - 1em);
}

#mapid{
    z-index: 1;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width:50%;
    min-height: 100%;
    max-height: 60vh;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.align-left, .classification{
    display: flex;
    align-items: center;
}

.align-left h6, .align-left p{
    margin:0;
}

.classification p{
    margin: 0 1em;
    text-align: center;
}

.comment{
    padding:1em;
}

.comment h6{
    margin:0;
}