@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
    --myDarkBlue: #242732;
    --myLightBlue: #E5F0FF;
    --titlesFont: Arvo, Courier, sans-serif;
    --bodyFont: Roboto, sans-serif;
}

h1, h2, h3 {
    font-family: var(--titlesFont);
    margin: 0 0.5em 0 0;
}

h4, h5, h6, p, span, input, label, tr, a, #filter_button {
    font-family: var(--bodyFont);
}

p {
    font-size: 0.8em;
}

a {
    color: var(--myLightBlue)
}

body {
    background-color: var(--myDarkBlue);
    color: var(--myLightBlue);
}

#menu {
    border-bottom-width: thin;
    border-bottom-color: var(--myLightBlue);
    border-bottom-style: solid;
    background-color: var(--myDarkBlue);
}

#menu #hamburger {
    display: none;
}

#menu ul {
    list-style-type: none;
}

#menu a {
    color: var(--myLightBlue);
    text-decoration: none;
}

body>footer {
    background: var(--myLightBlue);
    color: var(--myDarkBlue);
}

.dropdown-content {
    background: var(--myDarkBlue);
}

#menu li:first-child+li+li h5, #menu li:first-child+li+li+li h5, .dropdown-content p {
    background: var(--myDarkBlue);
    border-style: solid;
    border-width: thin;
    border-color: var(--myDarkBlue);
}

.dropdown-content p {
    border-bottom-color: var(--myLightBlue);
}

#menu li:first-child+li+li h5:hover, #menu li:first-child+li+li+li h5:hover {
    background: var(--myDarkBlue);
    border-style: solid;
    border-width: thin;
    border-color: var(--myLightBlue);
}

#menu li:first-child+li+li h5:active, #menu li:first-child+li+li+li h5:active, .dropdown-content a:active {
    background: var(--myLightBlue);
    color: var(--myDarkBlue);
    border-style: solid;
    border-width: thin;
    border-color: var(--myLightBlue);
}

.dropdown-content p:hover {
    background: var(--myLightBlue);
    border-color: var(--myLightBlue);
    color: var(--myDarkBlue);
}

input, select, textarea {
    background: var(--myLightBlue);
    color: var(--myDarkBlue);
    border-style: none;
}

#glass {
    background: var(--myDarkBlue);
}

.currency input {
    text-align: right;
}

.currency {
    display: inline-block;
    position: relative;
}

.currency::before {
    position: absolute;
    content: "";
}

.verticalForm {
    background: var(--myLightBlue);
    color: var(--myDarkBlue);
}

.verticalForm input, .verticalForm select, .verticalForm textarea {
    background: var(--myDarkBlue);
    color: var(--myLightBlue);
}

.search_input {
    border-bottom-width: thin;
    border-bottom-color: var(--myLightBlue);
    border-bottom-style: solid;
    background-color: transparent;
    color: var(--myLightBlue);
}

#homepage {
    background-image: url('images/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#property aside {
    background: var(--myLightBlue);
    color: var(--myDarkBlue);
}

.submit {
    background: var(--myDarkBlue);
    color: var(--myLightBlue);
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: var(--myDarkBlue);
}

.submit:hover {
    background: var(--myLightBlue);
    color: var(--myDarkBlue);
    font-weight: bold;
    cursor: pointer;
    border-style: solid;
    border-width: thin;
    border-color: var(--myDarkBlue);
}

.propertyShort, .reservationShort, .propertySearch {
    background: var(--myLightBlue);
    color: var(--myDarkBlue);
}

.propertyShort a, .reservationShort a, .propertySearch a {
    text-decoration: none;
}

.list_properties_options h5, .list_properties_options #filter_button {
    background-color: var(--myLightBlue);
    color: var(--myDarkBlue);
    border-style: solid;
    border-width: thin;
    border-color: var(--myLightBlue);
    font-weight: bold;
}

.list_properties_options h5:hover, .list_properties_options #filter_button:hover {
    background-color: var(--myDarkBlue);
    color: var(--myLightBlue);
    border-style: solid;
    border-width: thin;
    border-color: var(--myLightBlue);
    font-weight: bold;
    cursor: pointer;
}

.list_properties_options a, button {
    text-decoration: none;
}

#search p, input {
    font-size: 0.9em;
}

#search input::placeholder, #search #dateFrom, #search #dateTo, #search input{
    color: grey;
}

/* The Modal (background) */

.modal {
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: var(--myDarkBlue);
}


/* The Close Button */

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#rating {
    display: block;
}

#rating::before{
    content: '\2B50';
    font-size: 1.17em;
}

#star {
    display: block;
}

#star::before{
    content: '\2606';
    font-size: 1.17em;
}

#amenity {
    display: block;
}

#amenity::before{
    content: '\2022';
    font-size: 1.17em;
}

#mapid { 
    height: 400px; 
    width: calc(50-1rem);
    padding: 1rem;
}
