:root {
    --myDarkBlue: #242732;
    --myLightBlue: #E5F0FF;
    --titlesFont: Arvo, Courier, sans-serif;
    --bodyFont: Roboto, sans-serif;
}

h1, h2, h3{
    font-family: var(--titlesFont);
    margin: 0 0.5em 0 0;
}

h4, h5, h6, p, span, input, label{
    font-family: var(--bodyFont);
}

p{
    font-size:0.8em;
}

a{
    color:var(--myLightBlue)
}

body {
    background-color: var(--myDarkBlue);
    color: var(--myLightBlue);
}

#menu{
    border-bottom-width: thin;
    border-bottom-color: var(--myLightBlue);
    border-bottom-style: solid;
    background-color: var(--myDarkBlue);
}

#menu #hamburger{
    display: none;
}

#menu ul{
    list-style-type: none;
}

#menu a{
    color:var(--myLightBlue);
    text-decoration: none;
}

body > footer{
    background: var(--myLightBlue);
    color:var(--myDarkBlue);
}

.dropdown-content{
    background: var(--myDarkBlue);
    border-style: none;
    border-color: var(--myLightBlue);
}

#menu li:first-child + li + li h5:hover, #menu li:first-child + li + li + li h5:hover, .dropdown-content p:hover{
    background: var(--myDarkBlue);
    border-style: solid;
    border-width: thin;
    border-color: var(--myLightBlue);
}

#menu li:first-child + li + li h5:active, #menu li:first-child + li + li + li h5:active, .dropdown-content p:active{
    background: var(--myLightBlue);
    color:var(--myDarkBlue);
}

input, select, textarea{
    background: var(--myLightBlue);
    color: var(--myDarkBlue);
    border-style:none;
}

.currency input{
    text-align: right;
}

.currency{
    display:inline-block;
	position: relative;
}

.currency::before {
	position: absolute;
    content:"";
}

.verticalForm{
    background: var(--myLightBlue);
    color: var(--myDarkBlue);
}

.verticalForm input, .verticalForm select, .verticalForm textarea{
    background: var(--myDarkBlue);
    color: var(--myLightBlue);
}

#search_input{
    border-bottom-width: thin;
    border-bottom-color: var(--myLightBlue);
    border-bottom-style: solid;
    background-color: transparent;
    color: var(--myLightBlue);
}

#homepage{
    background-image: url('images/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#property aside{
    background: var(--myLightBlue);
    color: var(--myDarkBlue);
}

.submit{
    background: var(--myDarkBlue);
    color: var(--myLightBlue);
    text-align: center;
    border: none
}